version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.server
    image: bereal_web
    volumes:
      - ./exports:/app/exports
      - ./content:/app/content
    user: thekid
    command: web
    ports:
      - "5000:5000"
    environment:
      - FLASK_APP=bereal.server
    depends_on:
      - redis

  celery:
    image: bereal_web
    volumes:
      - ./exports:/app/exports
      - ./content:/app/content
    user: thekid
    command: celery
    environment:
      - FLASK_APP=bereal.server
    depends_on:
      - web
      - redis

  flower:
    image: bereal_web
    volumes:
      - ./exports:/app/exports
    user: thekid
    ports:
      - "5555:5555"
    command: flower
    environment:
      - FLASK_APP=bereal.server
    depends_on:
      - web
      - redis
      - celery

  redis:
    image: "redis:alpine"
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
