<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BeReel. | Start</title>
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="navbar">
            <a href="/" style="padding: 0px 10px 0px 0px">
                <div class="navbar-title">
                    <img
                        href="/"
                        src="/static/images/BeReel_Logo.png"
                        alt=""
                        width="30"
                        height="30"
                    />
                    <div class="navbar-title-text">BeReel.</div>
                </div>
            </a>
            <div class="navbar-links">
                <a class="navbar-link-item" href="/">Home</a>
                <a class="navbar-link-item" href="/about">About</a>
                <a class="navbar-link-item" href="/privacy">Privacy Policy</a>
                <a class="navbar-link-item" href="/contact">Contact</a>
            </div>
        </div>
        <div class="container">
            <p>
                Roll back the clock and relive your moments from BeReal. It's
                easy, fun, and a unique way to create a time-lapse of all your
                posts.
            </p>
            <h1>First, enter your phone number!</h1>
            <div>
                <form method="post" action="/">
                    <label for="countryCode">Country Code</label>
                    <br />
                    <input
                        type="text"
                        id="countryCode"
                        name="country_code"
                        placeholder="1"
                        required
                        style="width: 30px"
                    />
                    <br /><br />
                    <label for="phoneNumber">Phone Number</label>
                    <br />
                    <input
                        type="text"
                        id="phoneNumber"
                        name="phone_number"
                        placeholder="1234567890"
                        required
                    />
                    <br /><br />
                    <button type="submit">Send Code</button>
                </form>
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
        <footer class="footer">
            <div class="footer-links">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/policy">Privacy Policy</a>
                <a href="/contact">Contact</a>
            </div>
        </footer>
    </body>
</html>
