<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BeReel. | Process Data</title>
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="navbar">
            <a href="/" style="padding: 0px 10px 0px 0px">
                <div class="navbar-title">
                    <img
                        href="/"
                        src="/static/images/BeReel_Logo.png"
                        alt=""
                        width="30"
                        height="30"
                    />
                    <div class="navbar-title-text">BeReel.</div>
                </div>
            </a>
            <div class="navbar-links">
                <a class="navbar-link-item" href="/">Home</a>
                <a class="navbar-link-item" href="/about">About</a>
                <a class="navbar-link-item" href="/privacy">Privacy Policy</a>
                <a class="navbar-link-item" href="/contact">Contact</a>
            </div>
        </div>

        <div class="container container-process">
            <h1>Video settings</h1>
            <p>
                Verification successful! Now please fill in the following
                information for the time-lapse.
            </p>

            <div class="video-settings">
                <form
                    id="processForm"
                    method="post"
                    action="/process"
                    enctype="multipart/form-data"
                >
                    <div>
                        <label for="dateRange">Date range:</label>
                        <!-- TODO(michaelfromyeg): replace with year selection -->
                        <div class="date-range">
                            <input
                                type="text"
                                id="startDateRange"
                                name="start_date_range"
                                placeholder="YYYY-MM-DD"
                                required
                            />
                            <input
                                type="text"
                                id="endDateRange"
                                name="end_date_range"
                                placeholder="YYYY-MM-DD"
                                required
                            />
                        </div>
                    </div>
                    <div>
                        <label for="fileInput">Select .wav file:</label>
                        <input
                            type="file"
                            id="fileInput"
                            name="wav_file"
                            accept=".wav"
                            required
                        />
                        <input type="hidden" name="token" value="{{ token }}" />
                    </div>
                    <div>
                        <label for="modeInput">Select clip length:</label>
                        <select
                            class="mode-input-select"
                            name="mode"
                            id="modeInput"
                        >
                            <option value="classic">
                                Classic (30 seconds with curve)
                            </option>
                            <option value="full">Full Song</option>
                        </select>
                    </div>
                    <div>
                        <button type="button" onclick="processData()">
                            Process Data
                        </button>
                        <div id="submissionPrompt" style="visibility: hidden">
                            <p>Creating video...</p>
                        </div>
                    </div>
                </form>
            </div>

            <footer class="footer">
                <div class="footer-links">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/policy">Privacy Policy</a>
                    <a href="/contact">Contact</a>
                </div>
            </footer>

            <script>
                function processData() {
                    // You can add additional validation here before submitting the form
                    document.getElementById(
                        "submissionPrompt"
                    ).style.visibility = "visible";
                    document.getElementById("processForm").submit();
                }
            </script>
        </div>
    </body>
</html>
