@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f3f4f6;
}
/*
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    background-color: #f3f4f6;
    flex-direction: column;
}

.App div {
    width: 100%;
    max-width: 300px;
    padding: 2rem;
    margin-bottom: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.App input,
.App select,
.App button {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    background-color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}

.App button {
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.App button:hover {
    background-color: #2563eb;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.App video {
    max-width: 100%;
    height: auto;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
} */
